html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0%;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  background-color: #F1F0EE;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Chelsea Market', cursive;
}
h2 {
  font-size: 1.6rem;
  margin-bottom: 2%;
  padding: 2%;
}
h3 {
  font-size: 1.2rem;
  padding: 2%;
}
p {
  line-height: 1.5;
  font-size: 1.4rem;
  font-family: 'Montserrat', sans-serif;
  padding: 2%;
  letter-spacing: 0.15rem;
}
a {
  font-family: 'Chelsea Market', cursive;
  text-decoration: none;
  color: #67766D;
}
header {
  background-color: #EB5E55;
  padding: 2%;
  position: fixed;
  width: 100%;
  max-height: 150px;
  top: 0;
  left: 0;
  border-bottom: 2px solid #F1F0EE;
  box-shadow: 0px 0px 20px 2px #8a797c;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
header .navContainer {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .navContainer h1 {
  font-family: 'Chelsea Market', cursive;
  font-size: 2.5rem;
  color: #F1F0EE;
  width: 63%;
  text-shadow: 0px 0px 5px #220C10;
}
header .navContainer h1:hover {
  transform: scale(1.02);
}
@media (max-width:1100px) {
  header .navContainer h1 {
    font-size: 2rem;
  }
}
@media (max-width:800px) {
  header .navContainer h1 {
    font-size: 1.8rem;
  }
}
header .navContainer h1 a {
  color: #F1F0EE;
}
header .navContainer nav {
  font-family: 'Chelsea Market', cursive;
  font-size: 1.5rem;
  width: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width:1100px) {
  header .navContainer nav {
    font-size: 1.2rem;
  }
}
@media (max-width:800px) {
  header .navContainer nav {
    font-size: 1rem;
  }
}
header .navContainer nav a {
  text-decoration: none;
  color: #F1F0EE;
  width: 100%;
  text-align: center;
  padding: 3.5%;
  text-shadow: 0px 0px 5px #220C10;
}
header .navContainer nav a:hover {
  text-shadow: 0px 0px 10px #220C10;
}
header .navContainer nav #navButton {
  border: 2px solid #F1F0EE;
  border-radius: 10px;
  margin-left: 2%;
}
header .navContainer nav #navButton:hover {
  background-color: #f6b4b0;
}
footer {
  background-color: #EB5E55;
  color: #F1F0EE display: flex; flex-direction: row; justify-content: space-around; align-items: center;;
  margin: auto;
  text-align: center;
  padding: 2%;
  box-shadow: 0px 0px 20px 2px #8a797c;
  border-top: 2px solid #F1F0EE;
  max-height: 150px;
}
footer a {
  color: #F1F0EE;
  width: 20%;
  margin: auto;
  padding: 0% 5%;
  font-size: 1.4rem;
  text-shadow: 0px 0px 5px #220C10;
}
footer a:hover {
  text-shadow: 0px 0px 10px #220C10;
}
footer p {
  padding: 0%;
  margin: 20px 0px 40px 0px;
}
.contentContainer {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  margin-top: 200px;
}
@media (max-width:1100px) {
  .contentContainer {
    margin-top: 165px;
  }
}
@media (max-width:800px) {
  .contentContainer {
    margin-top: 145px;
  }
}
.contentContainer h2 {
  color: #67766D;
  font-size: 2.2rem;
  text-shadow: 0px 0px 3px #54494B;
}
.contentContainer .heroImage {
  background-image: url(/img/italianFood.jpeg);
  height: 450px;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0%;
  box-shadow: 0px 0px 20px 2px #54494B;
  border-radius: 10px;
}
.contentContainer .heroImage h2 {
  font-size: 2rem;
  text-align: center;
  color: #F1F0EE;
  text-shadow: 0px 0px 5px #67766D;
  margin-bottom: 1%;
}
.contentContainer .heroImage p {
  width: 40%;
  margin: 0% auto 4%;
  color: #F1F0EE;
  font-size: 1.6rem;
  text-align: center;
  font-weight: bolder;
  text-shadow: 0px 0px 10px #67766D;
}
@media (max-width:1100px) {
  .contentContainer .heroImage p {
    width: 70%;
  }
}
.contentContainer .aboutContainer {
  width: 90%;
  margin: auto;
}
.contentContainer .aboutContainer h2:hover {
  transform: scale(1.02);
}
.contentContainer .aboutContainer .person {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10% 0% 10% 0%;
}
@media (max-width:800px) {
  .contentContainer .aboutContainer .person {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width:800px) {
  .contentContainer .aboutContainer .person {
    margin: 20% 0% 20% 0%;
  }
}
.contentContainer .aboutContainer .person .personImage {
  width: 48%;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 2px #8a797c;
}
@media (max-width:800px) {
  .contentContainer .aboutContainer .person .personImage {
    width: 87%;
  }
}
.contentContainer .aboutContainer .person .personText {
  width: 85%;
  padding: 5%;
}
@media (max-width:800px) {
  .contentContainer .aboutContainer .person .personText {
    width: 100%;
    padding: 10% 0%;
    margin-bottom: 0%;
  }
}
.contentContainer .aboutContainer .person #personPicOne {
  background-image: url(/img/matthewKearneyHeadshot.png);
  height: 350px;
  background-position: center;
  background-size: cover;
  order: 1;
}
@media (max-width:800px) {
  .contentContainer .aboutContainer .person #personPicOne {
    order: 0;
  }
}
.contentContainer .aboutContainer .person #personPicTwo {
  background-image: url(/img/emilioHeadshot.png);
  height: 350px;
  background-position: center;
  background-size: cover;
  order: 0;
}
@media (max-width:800px) {
  .contentContainer .aboutContainer .person #personPicTwo {
    order: 0;
  }
}
.contentContainer .aboutContainer .person #personPicThree {
  background-image: url(/img/dawnaHeadshot.png);
  height: 350px;
  background-position: center;
  background-size: cover;
  order: 1;
}
@media (max-width:800px) {
  .contentContainer .aboutContainer .person #personPicThree {
    order: 0;
  }
}
.contentContainer .aboutContainer .person #personPicFour {
  background-image: url(/img/alexHeadshot.png);
  height: 350px;
  background-position: center;
  background-size: cover;
  order: 0;
}
@media (max-width:800px) {
  .contentContainer .aboutContainer .person #personPicFour {
    order: 0;
  }
}
