html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 1%;
  padding: 0;
  border: 2px solid red;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  background-color: #F1F0EE;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Chelsea Market', cursive;
}
p {
  line-height: 1.5;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
}
a {
  font-family: 'Chelsea Market', cursive;
  text-decoration: none;
  color: #EB5E55;
}
header .navContainer {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .navContainer h1 {
  font-family: 'Chelsea Market', cursive;
  font-size: 2rem;
  color: #EB5E55;
  width: 60%;
}
header .navContainer nav {
  font-family: 'Chelsea Market', cursive;
  font-size: 1.5rem;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .navContainer nav a {
  text-decoration: none;
  color: #EB5E55;
}
footer {
  background-color: #EB5E55;
  color: #F1F0EE display: flex; flex-direction: column; justify-content: center; align-items: center;;
  margin: auto;
  text-align: center;
}
footer a {
  color: #F1F0EE;
  width: 20%;
  margin: auto;
}
.contentContainer {
  width: 100%;
  max-width: 1100px;
  margin: auto;
}
.contentContainer .heroImage {
  background-image: url(/img/italianFood.jpeg);
  height: 450px;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contentContainer .heroImage p {
  width: 40%;
  margin: 0% auto 4%;
  color: #F1F0EE;
  font-size: 1.6rem;
  text-align: center;
  font-weight: bolder;
  text-shadow: 0px 0px 10px #67766D;
}
.contentContainer .heroImage #heroButton {
  width: 250px;
  margin: auto;
  font-size: 2rem;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #EB5E55;
  border-radius: 12px;
  box-shadow: 0px 0px 20px 2px #67766D;
  text-shadow: 0px 0px 10px #67766D;
}
.contentContainer .featuresContainer {
  width: 95%;
}
.contentContainer .featuresContainer .features {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10% 0% 10% 0%;
}
.contentContainer .featuresContainer .features .featureImage {
  width: 48%;
}
.contentContainer .featuresContainer .features .featureText {
  width: 55%;
}
.contentContainer .featuresContainer .features #featurePicOne {
  background-image: url(/img/familyInGardenByTree.jpeg);
  height: 350px;
  background-position: center;
  background-size: cover;
  order: 2;
}
.contentContainer .featuresContainer .features #featurePicTwo {
  background-image: url(/img/womenDrinkingWine.jpeg);
  height: 350px;
  background-position: center;
  background-size: cover;
  order: 0;
}
.contentContainer .featuresContainer .features #featurePicThree {
  background-image: url(/img/handsOfFamily.jpeg);
  height: 350px;
  background-position: center;
  background-size: cover;
  order: 2;
}
