footer{
    background-color: @redTitle;
    color: @backgroundColor
    .flex(flex,column,center,center);
    margin: auto;
    text-align: center;

    a{
        color: @backgroundColor;
        width: 20%;
        margin: auto;
    }
}