// Colors
@backgroundColor: #F1F0EE;
@redTitle: #EB5E55;
@textColor: #54494B;
@greenAccent: #67766D;
@blackAccent: #220C10;

// Mobile responsiveness
@mobile: ~'(max-width:500px)';

// Fonts
@headerFont: 'Chelsea Market', cursive;
@textFont: 'Montserrat', sans-serif;

